<div class="header-box" [ngStyle]="{ 'width.px': chartWidth }">
  <ng-container *ngIf="isFirstColumn; else chart">
    <app-column-summary
      [title]="'Total entries'"
      [totalEntries]="data().length"
    ></app-column-summary>
  </ng-container>

  <ng-template #chart>
    <ng-container *ngIf="data().length > 5; else pieChart">
      <app-chart
        chartType="bar"
        [data]="data()"
        [chartId]="columnIndex()"
        (chartSize)="setChartSize($event)"
      ></app-chart>
    </ng-container>
    <ng-template #pieChart>
      <app-chart
        chartType="pie"
        [data]="data()"
        [chartId]="columnIndex()"
        (chartSize)="setChartSize($event)"
      ></app-chart>
    </ng-template>
  </ng-template>
</div>
