<mat-card class="hero">
  <mat-card-header class="hero-header">
    <div mat-card-avatar class="hero-avatar"></div>
    <mat-card-title class="hero-title">{{ hero()?.nameLabel }}</mat-card-title>
    <mat-card-subtitle> Marvel Universe </mat-card-subtitle>
  </mat-card-header>
  <div class="hero-image">
    <div class="hero-image-cover"></div>
    <img
      mat-card-image
      src="assets/images/marvel/marvel-bg-card.webp"
      alt="Marvel Universe logo"
    />
    <img
      class="hero-image-placeholder"
      src="assets/images/marvel/marvel-heroes-card.webp"
      alt="Marvel heroes background image"
    />
  </div>
  <mat-card-content class="hero-content">
    <section class="hero-content-attributes">
      @if (hero()?.nameLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.skillsLabel | heroAttribute : 'skillsLabel').backgroundColor
        "
      >
        {{ (hero()?.skillsLabel | heroAttribute : "skillsLabel").label }}
        {{ (hero()?.skillsLabel | heroAttribute : "skillsLabel").emoji }}
      </mat-chip>
      } @if (hero()?.genderLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.genderLabel | heroAttribute : 'genderLabel').backgroundColor
        "
      >
        {{ (hero()?.genderLabel | heroAttribute : "genderLabel").label }}
        {{ (hero()?.genderLabel | heroAttribute : "genderLabel").emoji }}
      </mat-chip>
      } @if (hero()?.citizenshipLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.citizenshipLabel | heroAttribute : 'citizenshipLabel')
            .backgroundColor
        "
      >
        {{
          (hero()?.citizenshipLabel | heroAttribute : "citizenshipLabel").label
        }}
        {{
          (hero()?.citizenshipLabel | heroAttribute : "citizenshipLabel").emoji
        }}
      </mat-chip>
      } @if (hero()?.creatorLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.creatorLabel | heroAttribute : 'creatorLabel')
            .backgroundColor
        "
      >
        {{ (hero()?.creatorLabel | heroAttribute : "creatorLabel").label }}
        {{ (hero()?.creatorLabel | heroAttribute : "creatorLabel").emoji }}
      </mat-chip>
      } @if (hero()?.occupationLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.occupationLabel | heroAttribute : 'occupationLabel')
            .backgroundColor
        "
      >
        {{
          (hero()?.occupationLabel | heroAttribute : "occupationLabel").label
        }}
        {{
          (hero()?.occupationLabel | heroAttribute : "occupationLabel").emoji
        }}
      </mat-chip>
      } @if (hero()?.memberOfLabel) {
      <mat-chip
        [style.backgroundColor]="
          (hero()?.memberOfLabel | heroAttribute : 'memberOfLabel')
            .backgroundColor
        "
      >
        {{ (hero()?.memberOfLabel | heroAttribute : "memberOfLabel").label }}
        {{ (hero()?.memberOfLabel | heroAttribute : "memberOfLabel").emoji }}
      </mat-chip>
      }
    </section>
  </mat-card-content>
</mat-card>
