.mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden;
}
:host {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: none;
    max-width: 400px;
    width: 100%;
    height: 100%;
    &-header {
      padding: 8px 0;
      &__avatar {
        background-image: url('/assets/images/marvel/marvel-icon-card.webp');
        background-size: cover;
        background-repeat: no-repeat;
        height: 48px;
        width: 48px;
      }
    }
    &-image {
      position: relative;
      width: 100%;
      height: 400px;
      &__placeholder {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 280px;
        height: 180px;
        z-index: 2;
      }
      &__cover {
        position: absolute;
        background-image: linear-gradient(to top, #04000f 30%, transparent 100%);
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    &-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 2;
      &__attributes {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
      }
    }
  }
}