:host {
  .mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
  }

  .mat-mdc-row {
    height: 65px;
    &:hover {
      background: var(--mat-table-row-item-outline-color)
    }
  }

  .table-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}