:host {
  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
  }
  .tooltip {
    position: absolute;
    pointer-events: none;
    background-color: var(--mat-tree-container-background-color);
    color: var(--mat-tree-node-text-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}