:host {
  // - mat-table styles
  
  .mat-mdc-table-sticky {
    background: var(--mat-app-background-color);
  }
 
   .mat-mdc-header-row {
     background: var(--mat-app-background-color);
   }
 
   .mat-mdc-row .mat-mdc-cell {
     cursor: pointer;
   }
 
   .mat-mdc-row {
     height: 65px;
     &:hover {
       background: var(--mat-table-row-item-outline-color)
     }
   }
 
   // - Component styles
 
   table {
     width: 100%;
   }
   
   .table-container {
     overflow: auto;
   }
 
   .column-header__cell {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap: 8px;
     &-title {
       padding: 6px 0;
       > span {
         font-size: 16px;
         font-weight: 900;
       }
     }
   }
 
   .table-actions {
     display: flex;
     justify-content: flex-end;
     align-items: center;
     gap: 8px;
   }
 }