@defer (on idle; prefetch on idle) {
<section class="hero-options" transition-style="in:wipe:bottom-left">
  <app-search
    searchType="Hero"
    [searchItems]="heroNames()"
    [availableItems]="heroNamesBackup()"
    (search)="applySearch($event)"
  ></app-search>
  <div class="hero-options-new">
    <button mat-button color="primary" (click)="createHero()">
      Create Hero <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
<section class="hero-accordion">
  <app-accordion [expansionPanelHeader]="false" [openAccordion]="openAccordion">
    <app-hero-form
      accordionBody
      [heroSelected]="heroSelected"
      (addHero)="storeNewHero($event)"
      (updateHero)="storeUpdatedHero($event)"
      (cancelForm)="openAccordion = false"
    ></app-hero-form>
  </app-accordion>
</section>
<app-table
  transition-style="in:wipe:down"
  [dataTable]="heroes()"
  [displayedColumns]="displayedColumns"
  [enabledCharts]="true"
  [chartData]="marvelSuperheroesChartsData"
  (selectedRow)="selectHero($event)"
  (rowToUpdate)="updateHero($event)"
  (rowToDeleted)="removeHero($event)"
></app-table>
}
