<section class="hero-options">
  <app-search
    searchType="Hero"
    [searchItems]="superheroesNames()"
    (search)="applySearch($event)"
  ></app-search>
  <div class="hero-options-new">
    <button mat-button color="primary" [matMenuTriggerFor]="menu">
      Create Hero <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addHeroFromDialog()">from modal</button>
      <button mat-menu-item (click)="addHeroFromAccordion()">
        from accordion
      </button>
    </mat-menu>
  </div>
</section>
<section class="hero-accordion">
  <app-accordion [expansionPanelHeader]="false" [openAccordion]="openAccordion">
    <app-hero-form
      accordionBody
      (heroSubmitted)="storeNewHero($event)"
    ></app-hero-form>
  </app-accordion>
</section>
<app-table
  [dataTable]="superheroes()"
  [displayedColumns]="displayedColumns"
  (selectedRow)="selectHero($event)"
></app-table>
