:host {
  width: 100%;
  .hero-options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-medium);
    width: 100%;
    > * {
      flex: 1;
    }
    &-new {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}